<div class="form-group">
   <label class="col-sm-2 control-label" for=model>
      {{label}}
   </label>
   <div class="col-sm-9">
      {{#if isCheckBox}}
         {{input type="checkbox" checked=model}}
      {{else}}
         {{#if isDate}}
            {{!tr-datepicker date=model valueFormat='DD/MM/YYYY' outputFormat="LL" allowBlank=true}}
            {{pikaday-input value=model format="LL" yearRange=3}}
         {{else}}
               {{#if isTextArea}}
                  {{textarea value=model class="form-control"}}
               {{else}}
                  {{input type=type placeholder=placeholder id=value value=model class="form-control"}}
               {{/if}}
         {{/if}}
      {{/if}}
      {{yield}}
   </div>
</div>
