<div class="toolbar row">
   <div class="col-sm-6 hidden-xs">
      <div class="page-header">
         <h1>Kisiler
            <small>SMS Kontakları ve grup yönetimi</small>
         </h1>
      </div>
   </div>
</div>
<!-- end: TOOLBAR -->
<!-- end: PAGE HEADER -->
<!-- start: BREADCRUMB -->
<div class="row">
   <div class="col-md-12">
      <ol class="breadcrumb">
         <li>
            {{#link-to 'home.index'}}Ana Ekran{{/link-to}}
         </li>
         <li>
            {{#link-to 'contacts.index'}}Kisiler{{/link-to}}
         </li>
         <li class="active">Kisi Duzenleme</li>
      </ol>
   </div>
</div>
<!-- end: BREADCRUMB -->
<div class="row">
   <div class="col-md-12">
      <div class="panel panel-white">
         <div class="panel-heading">
            <h4>Kisi
               <span class="text-bold">Duzenleme</span>
            </h4>
         </div>
         <div class="panel-body">
            {{#form-for model wrapper="horizontal-form"}}
               {{input firstName label="Adı"}}
               {{input lastName label="Soyadı"}}
               {{input primaryPhoneNumber label="Telefon Numarası" as="masked" mask="0 999 999 99 99"}}
               {{input secondaryPhoneNumber label="İkincil Telefon Numarası" as="masked" mask="0 999 999 99 99"}}
               {{input primaryEmailAddress label="E-Mail"}}
               {{input secondaryEmailAddress label="Ikincil E-Mail"}}
               {{input dateOfBirth as="datepicker" label="Doğum Tarihi"}}
               {{input canReceiveMessages as="checkbox" label="Mesaj alabilir"}}
               {{#each binding in customFieldBindings}}
                  {{input binding.value asBinding="binding.customField.type" labelBinding="binding.customField.label"}}
               {{/each}}
               {{input memberOf as="select2" collection=controller.groupsContent placeholder="Kişiyi eklemek istediğiniz gruplar" multiple=true}}
               <div class="form-group">
                  <div class="col-sm-2 col-sm-offset-8">
                     <button class="btn btn-blue next-step btn-block" {{action "createContact" }}>
                        Kaydet <i class="fa fa-arrow-circle-right"></i>
                     </button>
                  </div>
               </div>
            {{/form-for}}
         </div>
      </div>
   </div>
</div>
