<!-- start: PAGE HEADER -->
<!-- start: TOOLBAR -->
<div class="toolbar row">
    <div class="col-sm-6 hidden-xs">
        <div class="page-header">
            <h1>Kaynaklar
                <small>SMS başlık bilgisi yönetimi</small>
            </h1>
        </div>
    </div>

</div>
<!-- end: TOOLBAR -->
<!-- end: PAGE HEADER -->
<!-- start: BREADCRUMB -->
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                {{#link-to 'home.index'}} Ana Ekran {{/link-to}}
            </li>
            <li class="active">Kaynaklar</li>
        </ol>
    </div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h4> SMS <span class="text-bold">Basliklari </span></h4>
        </div>


        <div class="panel-body">
            {{#form-for model wrapper="horizontal-form"}}
                {{input firstName hint="Adinizi girin diye"}} 
                {{input lastName as='text'}} 
                {{input email}}
                {{input phone as="masked" label="phone" mask="999-aaa-***" }} 
                {{input age}}
                {{input dateOfBirth as='datepicker' format="LL"}}
                {{input chosenItem 
                  as="select2" 
                  collection=controller.liste
                  multiple=true
                  placeholder="Grup seçiniz"
                  optionLabelPath="label" }}
                {{input isFaggot as="checkbox"}}
            {{/form-for}}
        </div>
    </div>
</div>
